@font-face {
    font-family: 'ChosunSm';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSm/ChosunSm.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSm/ChosunSm.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSm/ChosunSm.ttf') format('truetype');
}
